In [349]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from sklearn.feature_extraction.text import CountVectorizer

In [416]:
df_train = pd.read_csv('train.csv', sep='\t', encoding='utf-8')

In [417]:
df_train.to_csv('train_zap.csv', sep = ';', index=False, encoding='utf-8')

In [418]:
df_train.head(20)

,id,name,description,target
0,0,Заведующий отделом/секцией в магазин YORK (Уру...,<p><strong>В НОВЫЙ МАГАЗИН YORK (хозтовары) пр...,1
1,1,Наладчик станков и манипуляторов с ПУ,Обязанности:работа на токарных станках с ЧПУ T...,0
2,2,Разработчик С++ (Криптограф),<strong>Требования:</strong> <ul> <li>Опыт про...,0
3,3,Фрезеровщик,<p>Условия:</p> <ul> <li>На работу вахтовым ме...,0
4,4,Мерчендайзер/продавец-консультант,<p><strong>Компания Палладиум Стандарт - призн...,1
5,5,Мастер по эксплуатации зданий,<p><strong>Обязанности:</strong></p> <ul> <li>...,0
6,6,Торговый представитель,<em><strong>НА СТАБИЛЬНОЕ И РАСПРОСТРАНЕННОЕ Н...,1
7,7,Торговый представитель,<strong>Обязанности:</strong> <ul> <li>Функцио...,1
8,8,Менеджер по продажам,<p><strong>Обязанности:</strong></p> <ul> <li>...,1
9,9,Менеджер по работе с ключевыми клиентами (POSM),<p><strong>Обязанности</strong>:</p> <ul> <li>...,0
10,10,Backend Developer (Node.js/NoSQL),"<p><em>Сегодня Плэйкот - это 8 лет истории, 11...",0
11,11,"Продавец-кассир (г Орск, ул Станиславского, 13)","<div>Для каждого, кто хочет работать и зарабат...",0
12,12,Специалист технической поддержки,<p><strong>Обязанности:</strong></p> <p><stron...,0
13,13,"Продавец-кассир (г Истра, ул 9 Гвардейской Див...","<div>Для каждого, кто хочет работать и зарабат...",0
14,14,Менеджер по работе с клиентами,<p><em>Друзья! Сейчас мы находимся в поиске ин...,1
15,15,Программист 1С,<strong>Обязанности:</strong> <ul> <li>Програм...,0
16,16,"Директор магазина (г Кемерово, ул Свободы, 12)",<div>Ведущая федеральная розничная сеть магази...,0
17,17,PR-менеджер,<p><strong>Обязанности:</strong></p> <ul> <li>...,0
18,18,Менеджер по продажам оборудования,<strong>Обязанности:</strong> <ul> <li>Проведе...,1
19,19,Администратор-менеджер,<strong>Обязанности:</strong> <ul> <li>Следить...,1

# Попробуем для начала обучиться на данных в колонке name

## даже еще упростим - 
будем проставлять target = 1 тем, у кого в названии вакансии есть 
"менеджер" "продажам" "магазин" "торговый" "продавец"

In [363]:
df_train.name[11]

'Продавец-кассир (г Орск, ул Станиславского, 13)'

In [398]:
def get_it_simple(pname):
    counter=CountVectorizer()
    res=counter.fit_transform([pname])
    c1 = counter.vocabulary_.get('менеджер')
    c2 = counter.vocabulary_.get('продажам')
    c3 = counter.vocabulary_.get('магазин')
    c4 = counter.vocabulary_.get('торговый')
    c5 = counter.vocabulary_.get('продавец')

    c1 = 0 if c1 == None else c1
    c2 = 0 if c2 == None else c2
    c3 = 0 if c3 == None else c3
    c4 = 0 if c4 == None else c4
    c5 = 0 if c5 == None else c5

#    print(c1,c2,c3,c4,c5)
    
    if c1 > 0:
        ret = 1
    elif c2 > 0:
        ret = 1
    elif c3 > 0:
        ret = 1
    elif c4 > 0:
        ret = 1
    elif c5 > 0:
        ret = 1
    else:
        ret = 0
    return ret;

In [399]:
print(get_it_simple(df_train.name[11]))
print(type(df_train.name[11]))

1
<class 'str'>

In [400]:
def preproc_test_data(df_input):
    ## Your Code Here
    df_output = df_input.copy()    
    df_output = df_output.drop("description", axis=1)
#    print(df_output.shape)
    a=1
    for i in df_output.T:
#        print((df_output.iloc[a-1:a,1:]))
        df_output.iloc[a-1:a,1:] = get_it_simple(df_output.iloc[a-1:a,1:].to_string())
#        print((df_output.iloc[0:a,1:]))
        a += 1

    #   print('a=',a)

    return df_output

In [401]:
df_test = pd.read_csv('test.csv', sep='\t')

In [402]:
#df1 = df_test.drop("description", axis=1).head(5)
#print(df_test)
#print(type(df1.head(5)))
#print(df1.head(2))

#print(type(df1["name"]))

#print(type(df1.iloc(1)))

#print(df1.iloc[0:,1:])
#print (type(df1.iloc[0:,1:].to_string()))

In [420]:
df_test_preproc = preproc_test_data(df_test)
df_test_preproc.columns = ['id','target']
df_test_preproc

            id  target
0       200000       0
1       200001       1
2       200002       1
3       200003       1
4       200004       0
5       200005       0
6       200006       1
7       200007       0
8       200008       0
9       200009       0
10      200010       0
11      200011       1
12      200012       0
13      200013       1
14      200014       1
15      200015       1
16      200016       0
17      200017       1
18      200018       0
19      200019       1
20      200020       1
21      200021       1
22      200022       0
23      200023       1
24      200024       1
25      200025       0
26      200026       1
27      200027       0
28      200028       0
29      200029       0
...        ...     ...
170149  370149       0
170150  370150       1
170151  370151       0
170152  370152       0
170153  370153       0
170154  370154       0
170155  370155       1
170156  370156       0
170157  370157       1
170158  370158       0
170159  370159       1
170160  370160       1
170161  370161       1
170162  370162       1
170163  370163       0
170164  370164       0
170165  370165       0
170166  370166       0
170167  370167       0
170168  370168       0
170169  370169       0
170170  370170       0
170171  370171       0
170172  370172       1
170173  370173       1
170174  370174       1
170175  370175       1
170176  370176       0
170177  370177       0
170178  370178       0

[170179 rows x 2 columns]

In [421]:
df_test_preproc.to_csv('r1.csv', sep = ',', index=False)